{% extends 'base.html' %}

{% block content %}
<h2>{{ title }}</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(rows=4) }}
    </div>
    <div>
        {{ form.ingredients.label }}<br>
        {{ form.ingredients(rows=4) }}
    </div>
    <div>
        {{ form.preparation_time.label }}<br>
        {{ form.preparation_time(type='number') }}
    </div>
    <div>
        {{ form.cooking_time.label }}<br>
        {{ form.cooking_time(type='number') }}
    </div>
    <div>
        {{ form.servings.label }}<br>
        {{ form.servings(type='number') }}
    </div>
    <div>
        {{ form.steps.label }}<br>
        {{ form.steps(class='form-control', rows=10) }}
    </div>
    <div>
        <button type="submit">{{ title }}</button>
    </div>
</form>
{% endblock %}
